{% extends 'marketPlace/base.html' %}




{% block content %}


    <hr> 
        <h1 class="intro-text text-center">{{ title }}</h1>       
    <hr class="detail-separator">


    {% if message %}
     <p>{{message}} </p>
    {% endif %}

    <form class="form-inline" action="{% url 'connexion:inscription_producteur'  %}" method="post">
        {% csrf_token %}

        <div class="container row form-group  {% if form.identifiant.errors %}has-warning has-feedback{% endif %}">
            <label class="col-sm" for="{{ form.identifiant.id_for_label }}"> {{ form.identifiant.label }} : </label>
            <span class="col-sm">{{ form.identifiant }} </span>
        </div>

        <div class="container row form-group  {% if form.password.errors %}has-warning has-feedback{% endif %}">
            <label class="col-sm" for="{{ form.password.id_for_label }} ">{{ form.password.label }} : </label> 
            <span class="col-sm">{{form.password}}</span>
        </div>


  <div class="container row form-group {% if form.repassword.errors %}has-warning has-feedback{% endif %}" >
    <label for="repassword" class="col-sm">Entrer de nouveau votre mot de passe</label>
    <span class="col-sm"><input type="password" class="form-control" name="repassword" value="" id="repassword"></span>
  </div>

        <div class="container row form-group  {% if form.email.errors %}has-warning has-feedback{% endif %}">
            <label class="col-sm" for="{{ form.email.id_for_label }}">{{ form.email.label }} : </label> 
            <span class="col-sm">{{ form.email }}</span>
        </div>

        <div class="container row form-group  {% if form.opt_in.errors %}has-warning has-feedback{% endif %}">
            <label class="col-sm" for="{{ form.opt_in.id_for_label }}">{{ form.opt_in.label }} : </label> 
            <span class="col-sm">{{ form.opt_in }}</span>
        </div>
        
        <div class="container">
            <button type="submit" class="btn btn-success">S'inscrire</button>
        </div>
    </form>




{% if errors %}
<div>
  {% for key, error in errors %}
  {% autoescape off %}
   {{ error }}
  {% endautoescape %}
  {% endfor %}
</div>
{% endif %}
{% endblock %}

